<form class="dialog" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="dialog__title">
    <i class="icon icon-bookmark"></i>
    <span>New Group</span>
    <i class="icon icon-cross" (click)="onClose()"></i>
  </div>

  <div class="dialog__form form" id="mainForm">
    <div class="form__field" *ngIf="form.controls.title as control">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput appInput [formControl]="control">
        <mat-error *ngIf="control.hasError('required')">Required field</mat-error>
      </mat-form-field>
    </div>

    <div class="form__field-title">Color</div>
    <div class="form__field" *ngIf="form.controls.color as control">
      <div class="group-colors">
        <div class="group-colors__item"
             *ngFor="let color of colors$ | async"
             [style.background]="color.value"
             [class.active]="control.value === color.id"
             (click)="onColor(color.id)"
        >
          <i class="icon icon-checkmark" *ngIf="control.value === color.id"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="dialog__actions">
    <button mat-button type="submit" [disabled]="form.invalid">
      <div *ngIf="!sentSave else loader">
        <i class="icon icon-plus"></i>
        <span>Add Group</span>
      </div>
    </button>
    <ng-template #loader>
      <div class="loader"></div>
    </ng-template>
  </div>
</form>
