.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.payload {
  flex: 1 1 auto;
  overflow: hidden;
}

.sidebar-div {
  position: absolute;
  background: #00000050;
  height: 100%;
  width: 100%;
  z-index: 1;

  @media (min-width: 720px) {
    display: none;
  }
}

.sidebar {
  flex: 0 0 auto;
  position: absolute;
  z-index: 2;
  background: var(--sidebar-background);
  box-shadow: var(--sidebar-boxshadow);
  transition: margin-left 400ms;
  transition-timing-function: cubic-bezier(0.51, 0, 0.51, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-size-mobile);

  &.hidden {
    margin-left: calc(0px - var(--sidebar-size-mobile));
    box-shadow: none;
  }

  @media (min-width: 720px) {
    position: relative;
    width: var(--sidebar-size-desktop);

    &.hidden {
      margin-left: calc(0px - var(--sidebar-size-desktop));
      box-shadow: none;
    }
  }

  &-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 16px 16px;

    &-title {
      display: flex;
      align-items: center;
      font-size: 22px;

      &-logo {
        color: var(--color-barnd);
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-size: 27px;
      }

      &-nav-name {
        display: flex;
        align-items: center;
      }

      &-tools {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-top: 2px;
      opacity: 0.75;

      &__user {

      }

      &__status {
        color: var(--color-danged);

        &.online {
          color: var(--color-success);
        }
      }
    }
  }

  &-navigation {
    flex: 1 1 auto;
    display: flex;
    padding: 8px 16px;
    overflow: auto;

    & > * {
      width: 100%;
    }
  }

  &-footer {
    margin-top: auto;
  }
}

.main-title {
  &__category {
    font-size: 22px;
  }

  &__info {
    font-size: 18px;
    opacity: 0.75;
  }
}

.header-info-tool {
  display: flex;
  align-items: center;
  margin-left: 16px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .34s;
  font-size: 22px;
  padding: 0 8px;

  &:hover {
    opacity: 1;
  }
}
