.priority-theme {
  &-3 {
    color: var(--color-danged);
    border-color: var(--color-danged);
  }

  &-2 {
    color: var(--color-warn);
    border-color: var(--color-warn);
  }

  &-1 {
    color: var(--color-success);
    border-color: var(--color-success);
  }

  &-0 {
    color: var(--color-white);
    border-color: var(--color-white);
  }
}

.background {
  &-red {
    background: var(--color-red);
  }

  &-orange {
    background: var(--color-orange);
  }

  &-yellow {
    background: var(--color-yellow);
  }

  &-green {
    background: var(--color-green);
  }

  &-blue {
    background: var(--color-blue);
  }

  &-violet {
    background: var(--color-violet);
  }

  &-grey {
    background: var(--color-grey);
  }
}

.color {
  &-red {
    color: var(--color-red);
  }

  &-orange {
    color: var(--color-orange);
  }

  &-yellow {
    color: var(--color-yellow);
  }

  &-green {
    color: var(--color-green);
  }

  &-blue {
    color: var(--color-blue);
  }

  &-violet {
    color: var(--color-violet);
  }

  &-grey {
    color: var(--color-grey);
  }
}

.border-color {
  &-red {
    border-color: var(--color-red);
  }

  &-orange {
    border-color: var(--color-orange);
  }

  &-yellow {
    border-color: var(--color-yellow);
  }

  &-green {
    border-color: var(--color-green);
  }

  &-blue {
    border-color: var(--color-blue);
  }

  &-violet {
    border-color: var(--color-violet);
  }

  &-grey {
    border-color: var(--color-grey);
  }
}
