.dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background: linear-gradient(135deg, var(--color-dark-primary), var(--color-dark-secondary));
  padding: 24px;

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 24px;

    i:first-child {
      margin-right: 12px;
    }

    i:last-child {
      margin-left: auto;
      opacity: 0.75;
      cursor: pointer;
    }
  }

  &__form {
    flex: 1 1 auto;
    overflow: auto;
    font-size: 18px;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    min-height: 72px;
    align-items: center;

    button {
      flex: 1;
      margin: 0 3px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
