* {
  box-sizing: border-box;
}

button[hidden] {
  display: none;
}

html {
  text-rendering: geometricPrecision;
  color-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-defailt);
  line-height: var(--line-height-defailt);
  margin: 0;
  background-image: var(--background-body);
  color: var(--text-color);
}

a {
  color: var(--color-barnd);
  opacity: 0.8;
  transition: opacity 400ms;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}
