.timepicker-overlay {
  z-index: 1001 !important;
}

.timepicker-dial__control {
  outline: none;
}

.theme {
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-autofill-background) inset;
    -webkit-text-fill-color: var(--input-autofill-text-color);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  .mat-mdc-form-field-focus-overlay,
  .mdc-text-field--disabled.mdc-text-field--filled {
    background-color: var(--background-input);
  }

  .mdc-text-field {
    padding: 0;
  }

  .mat-mdc-button.mat-mdc-button-base,
  .mat-mdc-raised-button.mat-mdc-button-base,
  .mat-mdc-unelevated-button.mat-mdc-button-base,
  .mat-mdc-outlined-button.mat-mdc-button-base {
    height: var(--button-size);
  }

  .mat-bottom-sheet-container {
    background: var(--background-body);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 96vh;
  }

  .mdc-menu-surface {
    background: var(--background-body);
  }

  .mat-datepicker-content {
    background: var(--background-body);
  }
}

//
//.mat-menu-item[hidden], .mat-menu-item[hidden] .mat-menu-submenu-icon, .mat-menu-item[hidden] .mat-icon-no-color {
//  display: none !important;
//}
//
//.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
//  min-height: var(--button-min-size);
//  min-width: var(--button-min-size) !important;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.mat-menu-item[disabled], .mat-menu-item[disabled] .mat-menu-submenu-icon, .mat-menu-item[disabled] .mat-icon-no-color {
//  color: var(--color-white-secondary);
//}
//
//// Disabled
//.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
//  background-color: var(--color-dark-primary);
//  color: var(--color-white-secondary);
//}
//
//// Disabled
//.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
//  background-color: var(--color-dark-primary);
//  color: var(--color-white-secondary);
//}
//
//button.mat-stroked-button {
//  padding: 0 12px;
//}
//
//.mat-form-field-appearance-legacy .mat-form-field-label {
//  color: var(--color-white-secondary);
//  //font-size: 15px;
//  font-weight: 300;
//}
//
//.mat-form-field-appearance-legacy .mat-hint {
//  color: var(--color-white-secondary);
//}
//
//.mat-form-field-wrapper {
//  .mat-form-field-underline {
//    background: var(--color-white-primary-trans);
//    opacity: 0.5;
//  }
//
//  .mat-form-field-suffix {
//    color: var(--color-white-secondary);
//  }
//}
//
//.mat-option {
//  background: var(--color-dark-primary);
//}
//
//.mat-select-value {
//  color: inherit;
//}
//
//.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
//  color: var(--color-white-secondary);
//}
//
//.mat-option, .mat-option.mat-active {
//  color: var(--color-white-secondary);
//}
//
//.mat-select-arrow {
//  color: inherit;
//  opacity: 0.3;
//}
//
//.mat-form-field-appearance-fill .mat-form-field-flex {
//  background: none;
//}
//
//.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
//  background: var(--color-dark-primary);
//}
//
//.mat-option.mat-active {
//  background: var(--color-dark-primary);
//}
//
//.mat-select-panel .mat-option {
//  &:hover {
//    background: var(--color-dark-primary);
//  }
//}
//
//
//.mat-datepicker-content-container, .mat-menu-panel {
//  background: linear-gradient(135deg, var(--color-dark-primary), var(--color-dark-secondary));
//  color: var(--color-white-primary);
//}
//
//.mat-dialog-container {
//  background: linear-gradient(135deg, var(--color-dark-primary), var(--color-dark-secondary));
//  color: var(--color-white-primary);
//  padding: 24px !important;
//}
//
//.mat-menu-item {
//  color: var(--color-white-primary);
//}
//
//.mat-calendar-table-header, .mat-calendar-body-label {
//  color: var(--color-white-primary);
//}
//
//.mat-calendar-body-cell-content, .mat-date-range-input-separator {
//  color: var(--color-white-secondary);
//}
//
//.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
//  color: var(--color-white-primary);
//}
//
//.mat-calendar-arrow {
//  fill: rgb(252 252 252 / 54%);
//}
//
//.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected.mat-calendar-body-today {
//  color: var(--color-dark-primary);
//}
//
//.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
//  color: var(--color-dark-primary);
//}
//
//.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//  border-color: var(--color-dark-primary);
//}
//
//.mat-button-wrapper {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.mat-input-element {
//  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//    color: var(--color-white-secondary);
//    opacity: 0.75; /* Firefox */
//  }
//}
//
//.mat-select-placeholder {
//  color: var(--color-white-secondary);
//  opacity: 0.75; /* Firefox */
//}
//
//.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
//  color: var(--color-white-secondary);
//}
//
//.mat-bottom-sheet-container {
//  padding: 0 !important;
//  color: inherit;
//}
//
//.mat-menu-item .mat-icon-no-color, .mat-menu-submenu-icon {
//  color: var(--color-white-primary-trans);
//}
//
//.mat-checkbox {
//  .mat-checkbox-frame {
//    border-color: #DDDDDDBE;
//  }
//
//  .mat-checkbox-inner-container {
//    margin-right: 12px;
//  }
//}
//
//.bottom-sheet {
//}
//
//.mat-bottom-sheet-container {
//  max-height: 95vh !important;
//  background: linear-gradient(135deg, var(--color-dark-primary), var(--color-dark-secondary));
//  color: var(--color-white-primary);
//  padding: 24px !important;
//  border-radius: 8px 8px 0 0;
//}


