.settings {
  display: flex;
  flex-direction: column;
  padding: 0 24px 16px;
  height: 100%;

  &-chapter {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__title {
      text-transform: uppercase;
      opacity: 0.75;
      margin-bottom: 8px;
    }

    &__subtitle {
    }

    &__field {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
    }
  }


  &__form {
  }

  &__actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
}
