.settings {
  display: flex;
  flex-direction: column;
  padding: 0 24px 16px;
  height: 100%;

  &-chapter {
    display: flex;
    flex-direction: column;

    &__title {
      text-transform: uppercase;
      opacity: 0.75;
    }

    &__field {
      display: flex;
      flex-direction: column;
    }

    &__actions {
      display: flex;
      flex-direction: column;
    }
  }



  &__form {
  }

  &__actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
}
