:root {
  --font-family-default: 'Work Sans', sans-serif;
  --font-weight-default: 400;
  --font-size-defailt: 16px;
  --line-height-defailt: 1.5;

  // Dark
  --color-black: #0A0D11; // 161F27
  --color-black-trans-25: #0A0D1125;

  // white
  --color-white: #d8d8de;
  --color-white-trans-10: #dddddd10;

  --color-dark-primary: #313235;
  --color-dark-secondary: #28292d;

  //--color-dark-primary: #9874a8;
  //--color-dark-secondary: #3e4478;

  // Primary
  --color-barnd: #007bfc;
  //--color-barnd: #00cffc;
  --color-success: #66bb6a;
  --color-danged: #FD7272;
  --color-warn: #fca426;
  --color-yellow: #e6e089;

  // Background
  --background-body: linear-gradient(135deg, var(--color-dark-primary), var(--color-dark-secondary));
  --background-input: transparent;
  --input-autofill-background: #2a2b2e;
  --input-autofill-text-color: #d4d5d9;

  // Text
  --text-color: var(--color-white);

  // Buttons
  --button-size: 48px;

  // Sidebar
  --sidebar-background: linear-gradient(250deg, var(--color-dark-primary), var(--color-dark-secondary));
  --sidebar-boxshadow: 4px 4px 4px #00000015;
  --sidebar-size-desktop: 272px;
  --sidebar-size-mobile: 320px;
}

.theme-light {
  --background-body: #ffffff;
  --background-input-autofill: #ffffff;

  --sidebar-background:  #ffffff;

  --text-color: var(--color-black);
  --input-autofill-background: #ffffff;
  --input-autofill-text-color: #2a2b2e;
}
