<app-page title="Notifications">
  <div class="settings">
    <div class="settings-chapter">
      <div class="settings-chapter__title">Web Push</div>
      <div class="settings-chapter__field">
        <mat-slide-toggle
          [ngModel]="pushEnabled"
          (ngModelChange)="onEnablePush($event)"
          color="primary"
        >
          {{ pushEnabled ? 'Disable' : 'Enable' }} Web Push
        </mat-slide-toggle>
      </div>
    </div>

    <form class="settings-chapter" [formGroup]="telegramForm" (ngSubmit)="onSubmitTelegram()">
      <div class="settings-chapter__title">Telegram</div>
      <div class="settings-chapter__subtitle">
        <a [href]="telegramBotUrl" target="_blank">Open Telegram Bot</a>
      </div>
      <div class="settings-chapter__field">
        <mat-form-field *ngIf="telegramForm.controls.telegramUsername as control">
          <mat-label>Telegram Username</mat-label>
          <input matInput type="text" [formControl]="control">
          <mat-error *ngIf="control.hasError('minlength') && control.touched">
            Minimal 4 symbols
          </mat-error>
          <mat-error *ngIf="control.hasError('required') && control.touched">
            Required field
          </mat-error>
        </mat-form-field>
      </div>

      <div class="settings-chapter__actions">
        <button mat-button color="primary" [disabled]="telegramForm.invalid || telegramFormSent">
          <div *ngIf="!telegramFormSent">Link</div>
          <div *ngIf="telegramFormSent" class="loader"></div>
        </button>
      </div>
    </form>
  </div>
</app-page>
