<app-page [title]="groupOrFilterId | tasksTitle" [titleSuffixIcon]="group ?' icon icon-pencil' : ''"
          (titleClick)="editGroup()">
  <!-- PAGE TOOLBAR -->
  <div class="page-toolbar" page-toolbar>
    <div class="page-toolbar__item" matTooltip="Sort" [matMenuTriggerFor]="sortMenu">
      <i class="icon icon-sort-amount-asc"></i>
    </div>

    <div class="page-toolbar__item" matTooltip="Show / Hide Completed"
         (click)="showCompleted(!shownCompleted)"
         [class.active]="shownCompleted">
      <i class="icon icon-eye"></i>
    </div>

    <div class="page-toolbar__item" matTooltip="Clear All" (click)="onClearList()">
      <i class="icon icon-magic-wand"></i>
    </div>

    <div class="page-toolbar__item" matTooltip="Download" (click)="onDownload()">
      <i class="icon icon-download"></i>
    </div>
  </div>

  <div class="tasks-page-tools" page-menu>
    <button mat-icon-button [matMenuTriggerFor]="mainMenu" color="primary">
      <i class="icon icon-dots-horizontal-triple"></i>
    </button>

    <!-- MAIN MENU -->
    <mat-menu class="page-menu" #mainMenu="matMenu">
      <button class="page-menu__action" mat-menu-item [matMenuTriggerFor]="sortMenu">
        <i class="icon icon-sort-amount-asc"></i>
        <span>Sort</span>
      </button>

      <div class="page-menu__action menu-toggle-item" mat-menu-item>
        <i class="icon icon-eye"></i>
        <span class="menu-toggle-item__title">Show Completed</span>
        <mat-slide-toggle class="menu-toggle-item__action" [ngModel]="shownCompleted"
                          (ngModelChange)="showCompleted($event)" color="primary"></mat-slide-toggle>
      </div>

      <button class="page-menu__action" mat-menu-item (click)="onClearList()" [disabled]="!tasks.length" *ngIf="false">
        <i class="icon icon-magic-wand"></i>
        <span>Clear List</span>
      </button>

      <button class="page-menu__action" mat-menu-item (click)="onDownload()">
        <i class="icon icon-download"></i>
        <span>Download</span>
      </button>
    </mat-menu>

    <!-- SORT MENU -->
    <mat-menu class="page-menu" #sortMenu="matMenu">
      <button
        class="page-menu__action"
        mat-menu-item
        *ngFor="let item of sortMenuItems"
        [class.active]="(sort$ | async) === item.sort"
        (click)="onSort(item.sort)"
      >
        <i [ngClass]="item.icon"></i>
        <span>{{ item.title }}</span>
      </button>
    </mat-menu>
  </div>

  <!-- TASK LIST -->
  <div class="tasks-page">
    <div class="tasks-page__payload">
      <div class="task-list" *ngIf="(tasks | filterCompleted: shownCompleted) as filteredTasks"
           (swiperight)="onSwipeRight()">
        <app-task-list-item
          #taskListItem
          *ngFor="let task of filteredTasks | tasksSort: (sort$ | async)"
          [task]="task"
          (selected)="onEditTask(task)"
          (check)="onCheck(task, taskListItem)">
        </app-task-list-item>

        <app-task-list-add
          *ngIf="!shownEmpty"
          [isFirst]="!filteredTasks.length"
          [groupOrFilterId]="groupOrFilterId"
          (blurEvent)="!filteredTasks.length ? shownEmpty = true : null">
        </app-task-list-add>

        <!-- EMPTY  -->
        <ng-container [ngSwitch]="groupOrFilterId" *ngIf="shownEmpty">
          <app-task-list-empty
            *ngSwitchCase="filter.Incoming"
            icon="icon icon-inbox"
            subtitle="No tasks for incoming :("
            (addFirst)="shownEmpty = false">
          </app-task-list-empty>

          <app-task-list-empty
            *ngSwitchCase="filter.Today"
            icon="icon icon-clock"
            subtitle="No tasks for today :("
            (addFirst)="shownEmpty = false">
          </app-task-list-empty>

          <app-task-list-empty
            *ngSwitchCase="filter.Planned"
            icon="icon icon-calendar-full"
            subtitle="No tasks for upcoming :("
            (addFirst)="shownEmpty = false">
          </app-task-list-empty>

          <app-task-list-empty
            *ngSwitchDefault
            (addFirst)="shownEmpty = false">
          </app-task-list-empty>
        </ng-container>
      </div>
    </div>
  </div>
</app-page>
