<app-page title="General">
  <form class="settings" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="settings__form form">
      <mat-form-field class="form__field" *ngIf="form.controls.startPageStrategy as control">
        <mat-label>Start Page Strategy</mat-label>
        <mat-select [formControl]="control">
          <mat-option *ngFor="let page of startPages" [value]="page.code">
            {{ page.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="settings__actions">
      <button mat-button type="submit" [disabled]="form.invalid" color="primary">Save</button>
    </div>
  </form>
</app-page>
